#requirements for this Statistical POS Tagger are :


1. Git Repository Developed by Pos Tagger Team 1 : https://github.com/lavanmooga/Statistical_Model/tree/master

2. Download the embedding file from https://dl.fbaipublicfiles.com/fasttext/vectors-wiki/wiki.te.zip in colab file using 	   "wget https://dl.fbaipublicfiles.com/fasttext/vectors-wiki/wiki.te.zip" command

3. install gensim module. It is used for finding top 10 similar words of a given word 

General Libraries:
	OS : Automatically Performs many Operating System Tasks like Directory

	SYS : Used to manipulate different parts of python runtime environment

	INSPECT : Used get Information about Live Objects

	IMPORTLIB : Provide implementation of import statement and to Create Custom Objects

	CODECS : Provides Stream and file interfaces for transcoding the data

	WARNINGS : Warns the developer of situations that aren't necessarily exceptions
	Local Libraries:
	UNITOK_LIB : Used to convert the input text into tokens

	TE_HELPERS : Used to Eliminate input Tokens other than Telugu Language

